.about-section {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #f8f8f8;
}

.about-logo {
  border-radius: 50%;
  width: 250px; /* Adjust size as needed */
  height: 250px; /* Adjust size as needed */
  margin-right: 20px;
  float: left;
}

.about-text {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333;
  float: right;
}
