.hero-container {
  height: 60vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  animation: fadeIn 2s ease-in; 
}
span{
  color: cornflowerblue;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn-primary {
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  color: #ff7e5f;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #feb47b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
